<div class="container mb-3">
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-6">
            <a href="/item/list" class="btn btn-light btn-sm">Back</a>
            <h3 class="text-center">Create Item</h3>
            <form class="example-form" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="example-full-width">
                  <mat-label>Name</mat-label>
                  <input type="text" matInput formControlName="name">
                  <mat-error *ngIf="f['name'].hasError('required')">Name is <strong>required</strong></mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Stock</mat-label>
                    <input type="number" matInput formControlName="stock">
                    <mat-error *ngIf="f['stock'].hasError('required')">Stock is <strong>required</strong></mat-error>
                    <mat-error *ngIf="f['stock'].hasError('min')">Stock should be <strong>more than 0</strong></mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Price</mat-label>
                    <input type="number" matInput formControlName="price">
                    <mat-error *ngIf="f['price'].hasError('required')">Price is <strong>required</strong></mat-error>
                    <mat-error *ngIf="f['price'].hasError('min')">Price should be <strong>more than 0</strong></mat-error>
                </mat-form-field>
                <mat-slide-toggle formControlName="isAvailable" id="statusToggle">Status Availability</mat-slide-toggle>
                <button type="submit" class="btn btn-primary w-100">Create Item</button>
            </form>  
        </div>
    </div>
</div>
