<!-- Navbar Section -->
<div class="container-fluid bg-dark text-light" style="height: 60px;">
    <div class="row d-flex flex-direction-column justify-content-between text-center">
        <div class="col-md-2 mt-2">
            <a class="navbar-brand" href="#"><h3>Padepokan Shop</h3></a>
        </div>
        <div class="col-md-5">
            <ul class="navbar-nav d-flex flex-row justify-content-around mt-2">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/order/list">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/list">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/item/list">Item</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<!-- Footer Section -->
<footer class="bg-dark text-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <p>© 2024 Padepokan Shop. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
