<div class="container mb-3">
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-6">
            <button (click)="backToHome()" class="btn btn-light btn-small">Back</button>
            <h3 class="text-center">Create Customer</h3>
            <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                <div class="mb-2">
                    <label for="formFileSm" class="form-label">Full Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
                </div>
                <div class="mb-2">
                    <label for="formFileSm" class="form-label">Phone <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="phone" placeholder="Phone" formControlName="phone">
                </div>
                <div class="mb-2">
                    <label for="formFileSm" class="form-label">Address <span class="text-danger">*</span></label>
                    <textarea class="form-control" id="address" placeholder="Address" formControlName="address"></textarea>
                </div>
                <div class="mb-2">
                    <label for="formFileSm" class="form-label">Profile Picture</label>
                    <input class="form-control form-control-sm" id="profile_pic" type="file" formControlName="pic">
                </div>
                <button type="submit" class="btn btn-primary w-100">Update Customer</button>
            </form>
        </div>
    </div>
</div>